<!-- 
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: https://ogp.me/ns/music#">
-->
<!-- https://ogp.me/ns/music# -->
<!-- og:type music.song -->
<meta property="og:audio" content="" /><!-- 音声ファイルURL -->
<meta property="music:song" content="" /><!-- このアルバムに収録されている曲へのURL（og:type music.song 複数OK） -->
<meta property="music:musician" content="" /><!-- ミュージシャンURL（og:type profile 複数OK） -->
<meta property="music:release_date" content="" /><!-- リリース日 -->
<!--<meta property="music:song:disc" content="" />--><!-- このアルバムのディスク枚数 -->
<!--<meta property="music:song:track" content="" />--><!-- このアルバムのトラック数 -->

