<!-- 
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# music: https://ogp.me/ns/music#">
-->
<!-- https://ogp.me/ns/music# -->
<!-- og:type music.song -->
<meta property="og:audio" content="" /><!-- 音声ファイルURL -->
<meta property="music:duration" content="" /><!-- 1曲の長さ（秒）-->
<meta property="music:album" content="" /><!-- この曲が収録されているアルバムURL（og:type music.album） -->
<meta property="music:album:disc" content="" /><!-- この曲が収録されているアルバムのディスク（1〜） -->
<meta property="music:album:track" content="" /><!-- この曲が収録されているアルバムのディスクにおけるトラック（1〜） -->
<meta property="music:musician" content="" /><!-- ミュージシャンURL（og:type profile 複数OK） -->

