<footer>
    <span>© 2021 ytyaru</span>
    <!--
    リンク集
      姉妹サイト:
        エディタ
      外部サイト:
        SNS: Twitter, Mastodon, YouTube, ...
        APP: Google Play, Apple Store, PWA, ...
        SRC: GitHub
      コンテンツ
        guide: はじめての方へ
        help: ヘルプ
        ポリシー
        お知らせ
        Atom,RSS
        author: 著者ページ
    -->
    <!--
    <a title="CC-BY-SA 4.0" \
       href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja"
       style="text-decoration: none;">
        <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Cc.logo.circle.svg"></img>
        <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Cc-by_new.svg"></img>
        <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Cc-sa.svg"></img>
    </a>
    -->
</footer>

