<link rel="icon" href="{{icon-url}}"><!-- https://techracho.bpsinc.jp/hachi8833/2021_06_24/108697 -->
<link rel="apple-touch-icon" sizes="{{app-icon-width}}x{{app-icon-height}}" href="{{app-icon-url}}"><!--180x180-->
<link rel="apple-touch-icon-precomposed" sizes="{{app-icon-width}}x{{app-icon-height}}" href="{{app-icon-url}}">
<link rel="apple-touch-startup-image" sizes="{{app-icon-width}}x{{app-icon-height}}" href="{{app-icon-url}}">

<link rel="stylesheet" href="">
<link rel="stylesheet" media="print" href="">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="">
<link rel="stylesheet" title="" href=""><!-- 代替スタイルシート -->

<link rel="preload" as="" type="" crossorigin="" href="">

<link rel="alternate" type="application/atom+xml" href=""><!-- フィード配信 -->
<link rel="alternate" media="screen and (max-width: 600px)" href=""><!-- モバイル用ページ -->
<link rel="alternate" hreflang="" href=""><!-- 多言語ページ -->

<link rel="author" href="">
<link rel="bookmark" href="">
<link rel="external" href="">
<link rel="help" href="">
<link rel="license" hreflang="ja-JP" href="">
<link rel="license" hreflang="en-GB" href="">
<link rel="manifest" href="">

<link rel="next" href="">
<link rel="prev" href="">
<link rel="search" type="application/opensearchdescription+xml" href=""><!-- https://developer.mozilla.org/ja/docs/Web/OpenSearch -->

