<meta charset="UTF-8">
<base href="{{base-url}}">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="author" content="{{author}}">
<meta name="creator" content="{{creator}}">
<meta name="publisher" content="{{publisher}}">
<meta name="application-name" content="{{application-name}}">
<meta name="robots" content="{{robots}}">
<meta name="theme-color" content="{{theme-color}}">
<meta name="color-scheme" content="{{color-scheme}}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
