@charset "utf-8";
/* fc-list | grep 'IPAex明朝' */
@font-face {
    font-family: IPAex明朝;
    src: local('IPAex明朝'), 
         local('ipaexm.ttf') format('opentype'),
         local('fonts-japanese-mincho.ttf') format('truetype'),
         url('https://cdn.leafscape.be/IPAexfont/ipaexm_web.woff2') format("woff2");
}
@font-face {
    font-family: IPAexゴシック;
    src: local('IPAexゴシック'), 
         local('IPAexGothic'), 
         local('ipaexg.ttf') format('truetype'),
         local('fonts-japanese-gothic.ttf') format('truetype'),
         local('fonts-japanese-mincho.ttf') format('truetype'),
         url('https://cdn.leafscape.be/IPAexfont/ipaexg_web.woff2') format("woff2");
}
.serif { font-family: 'Noto Serif JP', 'IPAex明朝', serif; }
.sans { font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; }
.sans-0 { font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; font-feature-settings: "palt"; letter-spacing: 0px; }
body {
    font-family: 'Noto Serif JP', 'IPAex明朝', serif; 
}
button, input, select, textarea, label {
    font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; 
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; 
    font-feature-settings: "palt"; /* カーニング */
    letter-spacing: 0px;
}
dialog {
    font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; 
    font-feature-settings: "palt"; /* カーニング */
}
#page-header, #page-footer { 
    font-family: 'Noto Sans JP', 'IPAexゴシック', sans-serif; 
    font-feature-settings: "palt"; /* カーニング */
}
