<!-- 
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website# fb: http://ogp.me/ns/fb# ">
https://webcode.tools/generators/open-graph/website
-->
<!-- https://ogp.me/ -->
<!--
<meta property="og:url" content=" ページのURL" />
<meta property="og:type" content=" ページの種類" />
<meta property="og:title" content=" ページのタイトル" />
<meta property="og:description" content=" ページの説明文" />
<meta property="og:site_name" content="サイト名" />
<meta property="og:image" content=" サムネイル画像のURL" />
-->
<meta property="fb:app_id" content="{{app-id}}" />
