<!-- 
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: https://ogp.me/ns/video#">
https://webcode.tools/generators/open-graph/article
-->
<!-- https://ogp.me/ns/video# -->
<!-- og:type video -->
<meta property="og:video" content="" /><!-- 動画URL -->
<meta property="video:actor" content="" /><!-- 俳優（og:type profile 複数OK） -->
<meta property="video:actor:role" content="" /><!-- 役割 -->
<meta property="video:director" content="" /><!-- 監督（og:type profile 複数OK） -->
<meta property="video:writer" content="" /><!-- 作家（og:type profile 複数OK） -->
<meta property="video:duration" content="" /><!-- 長さ（秒） -->
<meta property="video:release_date" content="" /><!-- 公開日 -->
<meta property="video:tag" content="" /><!-- タグ -->

