<head prefix="og: https://ogp.me/ns#">
<!-- https://ogp.me/ -->
<meta property="og:url" content=" ページのURL" />
<meta property="og:type" content=" ページの種類" />
<meta property="og:title" content=" ページのタイトル" />
<meta property="og:description" content=" ページの説明文" />
<meta property="og:site_name" content="サイト名" />
<meta property="og:image" content=" サムネイル画像のURL" />

<meta property="og:video" content="" /><!-- 動画URL -->
<meta property="og:video:type" content="" /><!-- 動画形式MIME TYPE  video/mp4 -->
<meta property="og:video:width" content="" /><!-- 動画の幅px -->
<meta property="og:video:height" content="" /><!-- 動画の高さpx -->

<meta property="og:audio" content="" /><!-- URL some.mp3 -->
<meta property="og:audio:type" content="" /><!-- MIME TYPE audio/mpeg -->

<!-- https://developer.twitter.com/ja/docs/tweets/optimize-with-cards/guides/getting-started -->
<meta name="twitter:card" content="player" /><!-- summary, summary_large_image, app, player(audio,video) -->
<meta name="twitter:site" content="{{user-name}}" />
<meta name="twitter:player:width" content="{{}}" />
<meta name="twitter:player:height" content="{{}}" />
<meta name="twitter:player:stream" content="{{}}" /><!-- ストリーム用URL -->
<meta name="twitter:image" content="{{}}" /><!-- 画像の説明文 -->
<meta name="twitter:image:alt" content="{{}}" /><!-- 画像の説明文 -->

