<!-- 
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
https://webcode.tools/generators/open-graph/article
-->
<!-- https://ogp.me/ns/article# -->
<!-- og:type article -->
<meta property="article:published_time" content="{{published}}" /><!-- 公開日時（yyyy-mm-ddTHH:MM:SS+09:00）-->
<meta property="article:modified_time" content="{{modified}}" /><!-- 最終更新日時 -->
<meta property="article:expiration_time" content="{{expiration}}" /><!-- 期限 -->
<meta property="article:author" content="{{author}}" /><!-- 著者ページURL og:type profile -->
<meta property="article:section" content="{{section}}" /><!-- カテゴリ（例：テクノロジ」） -->
<meta property="article:tag" content="{{tag}}" /><!-- タグ -->

